<div class="container">
  <%= simple_form_for(@profile) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
    <div class="form-font" >
      <%= f.input :first_name, label: "First Name", placeholder: "Elza" %>
      <%= f.input :last_name, label: "Last Name", placeholder: "Frozen" %>
      <%= f.input :phone_number, label: "Phone Number", placeholder: "1234-1234" %>
      <%= f.input :address, label: "Address", placeholder: "Arendelle Castle" %>
      <%= f.input :photo, as: :file %>
    </div>
    <div class="row justify-content-center">
      <div class= "btn btn-green" >
        <%= f.button :submit %>
      </div>
   <% end %>
  </div>
