<div class="background container"  style="height: 100vh">
  <div class="d-flex flex-column align-items-flex-center justify-content-center home-div mx-4">
    <div class="d-flex justify-content-end pb-5 fa-xl">
      <i class="fa-solid fa-ellipsis dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown"
         aria-haspopup="true" aria-expanded="false" style="color: #1e2248;"></i>
      <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
        <p><%= link_to 'Home Page', dashboard_path, class: 'dropdown-item mt-3 mb-4' %></p>
        <p><%= link_to "Edit Profile", edit_profile_path(@profile), class: 'dropdown-item mb-4' %></p>
        <p><%= link_to "Delete Profile", profile_path(@profile),
        data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}, class: 'dropdown-item mt-4' %></p>
      </div>
    </div>
    <div class='d-block mx-auto mb-5'>
        <% if @profile.photo.present? %>
          <%= cl_image_tag @profile.photo.key, class: "avatar-large", alt: "avatar-large"%>
        <% else %>
          <%= image_tag "profile_pic_1.jpeg", class: "avatar-large", alt: "avatar-large"%>
        <% end %>
    </div>
    <div class="d-flex flex-column align-items-flex-start justify-content-center">
      <div class="home-title">
        <h1><%= @profile.full_name %></h1>
      </div>
      <h5 class="home-sml-header"><%= @profile.phone_number %></h5>
      <h5 class="home-sml-header"><%= @profile.address %></h5>
    </div>

    <div class="container">
      <div class="grid">
        <div class="d-flex gap-2 mt-4">
          <div class="row">
            <i class="fa-solid fa-people-group" style="color: #1e2248;"></i>
            <%= link_to "My groups", groups_path, class: "text-decoration-none home-body" %>
          </div>
          <div class="row">
            <i class="fa-solid fa-user-group" style="color: #1e2248;"></i>
            <%= link_to "My buddies", root_path, class: "text-decoration-none home-body" %>
          </div>
        </div>
        <div class="row mt-2 home-divider">
          <i class="fa-solid fa-bowl-food" style="color: #1e2248;"></i>
          <%= link_to "My nutrition preferences", root_path,  class: "text-decoration-none home-body" %>
        </div>
        <div class="row mt-3">
        <h3 class='mb-4 home-md-header'>My Upcoming Events</h3>
        <div class="d-flex flex-column gap-3">
          <% current_user.events.each do |event| %>
            <i class="fa-solid fa-calendar home-body" style="color: #1e2248;"></i>
            <%= event.name %> <%= event.date %>
          <% end %>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--<div class="d-flex flex-column align-items-flex-center justify-content-center vh-100">
  <%= render "shared/card_component", profile: @profile  %>
</div> -->
