<div class="d-flex flex-column h-100 mt-3">
  <div class="mx-2 chat-title-card-2 im-sticky">
    <h1 class="text-center chat-title pt-2 pb-2"> Welcome to <%= "#{@chatroom.name}" %>'s chat!</h1>
  </div>


  <div class="container chatroom flex-grow-1 overflow-y-scroll chat-room"
    data-controller="chatroom-subscription"
    data-chatroom-subscription-target="messages"
    data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>">

    <div class="mx-3 messages body-font">
      <% @chatroom.messages.each do |message| %>
        <p class="mt-2 mb-2">
          <%= render "messages/message", message: message %>
        </p>
      <% end %>
    </div>
  </div>

  <div class="im-also-sticky">
    <%= simple_form_for [@chatroom, @message],
      html: { data: { controller:'input-reset', action: 'turbo:submit-end->input-reset#resetForm' }, class: "chat-input"} do |f|%>
      <div class="d-inline-flex input-group chat-input-margin">
        <%= f.input :content,
          label: false,
          placeholder: "Say something...",
          wrapper_html: { class: "d-flex flex-grow-1" }
        %>
        <%= f.submit "Send", class: "btn chat-btn" %>
      </div>
    <% end %>
  </div>
</div>
