<div class="container">
<%= simple_form_for(@group) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-font">
    <%= f.input :name %>
    <%= f.input :image, as: :file %>
  </div>

  <div class="row justify-content-center">
    <div class= "btn btn-green" >
      <%= f.button :submit %>
    </div>
  </div>
<% end %>
</div>

