<div class="text-center" style="height: 100vh; ">
  <div class="background"  style="height: 80vh">
  <% if @group.photo.attached? %>
    <div class="d-flex justify-content-start fa-xl group-image-banner" style="background-image: url('<%= cl_image_path @group.photo.key %>')">
      <%= link_to groups_path, class: "arrow-icon-icon" do %>
        <i class="fa-solid fa-arrow-left ms-3 mt-3" style="color: #9AA6B5;"></i>
      <% end %>
    </div>
    <% else %>
    <div class="d-flex justify-content-start fa-xl group-image-banner" style="background-image: url('<%= image_path "default.jpg" %>')">
      <%= link_to groups_path, class: "arrow-icon-icon" do %>
        <i class="fa-solid fa-arrow-left ms-3 mt-3" style="color: #9AA6B5;"></i>
      <% end %>
    </div>
    <% end %>
    <div class="d-flex justify-content-end fa-xl">
      <i class="fa-solid fa-ellipsis dropdown-toggle mt-4 me-3" id="navbarDropdown" data-bs-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false" style="color: #1e2248;"></i>
      <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
        <p><%= link_to "Edit group", edit_group_path, class: 'dropdown-item' %></p>
        <p><%= link_to "Delete group", group_path(@group.id),
        data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}, class: 'dropdown-item mt-4' %></p>
      </div>
    </div>
    <div>
    <div class="main-container mt-3">
      <div>
        <h3 class="bigh1"><%= @group.name %></h3>
        <h6 class="sml-header mb-3">Who's on <%= @group.name %> ? </h6>
        <div class="d-flex justify-content-center">
          <% @group.users.each do |user| %>
            <%= cl_image_tag user.profile.photo.key, width: 50, height: 50, crop: :fill, style:"border-radius: 50%"%>
          <% end %>
        </div>
        <div class="mt-3">
          <h3 class='mb-4 home-md-header'>My Upcoming Events</h3>
          <div class="d-flex flex-column gap-3 text-start ms-4">
            <% current_user.events.first(4).each do |event| %>
              <i class="fa-solid fa-calendar home-body" style="color: #1e2248"></i>
              <%= event.name %> <%= event.date.strftime('%a %dth %B') %>
            <% end %>
          </div>
        </div>
        <div class="mt-4 ">
          <%= form_tag(group_path(@group), method: :get) do %>
            <%= text_field_tag :search, params[:search], placeholder: 'Search users', class: 'custom-select mr-2' %>
            <button type="submit", id="search-button" style="color: #1e2248;">
            <label for="asearch-button" class="fa-solid fa-magnifying-glass" style="color: #1E2248;"></label>
        </div>
          <% end %>

        <!-- Display searched users -->
        <% if @searched_users.present? %>
          <h3>Searched Buddies</h3>
          <% @searched_users.each do |user| %>
            <%= user.profile.full_name %>
            <%= link_to 'Add', group_user_groups_path(group_id: @group.id, user_id: user.id),
             method: :post, data: { turbo_method: :post } %>
          <% end %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
