<div class="text-center" style="height: 100vh; ">
  <div class="background"  style="height: 80vh">

  <% if @group.photo.attached? %>
    <div class="d-flex justify-content-start fa-xl group-image-banner" style="background-image: url('<%= cl_image_path @group.photo.key %>')">
      <%= link_to groups_path, class: "arrow-icon" do %>
        <i class="fa-solid fa-arrow-left ms-3 mt-3" style="color: #9AA6B5;"></i>
      <% end %>
    </div>
    <% else %>
    <div class="d-flex justify-content-start fa-xl group-image-banner" style="background-image: url('<%= image_path "default.jpg" %>')">
      <%= link_to groups_path, class: "arrow-icon" do %>
        <i class="fa-solid fa-arrow-left ms-3 mt-3" style="color: #9AA6B5;"></i>
      <% end %>
    </div>
    <% end %>
    <div>

    <div class="main-container mt-5">
      <div class="">
        <h3 class=""><%= @group.name %></h3>
        <h6>Who's on <%= @group.name %> ? </h6>
        <div class="d-flex justify-content-center">
          <% @group.users.each do |user| %>
            <%= cl_image_tag user.profile.photo.key, width: 50, height: 50, crop: :fill, style:"border-radius: 50%"%>
          <% end %>
        </div>
        <h6 class="mt-3">My Upcoming Events</h6>
        <% @group.events.each do |event| %>
          <%= event.date %>
        <% end %>
        <%= form_tag(group_path(@group), method: :get) do %>
          <%= text_field_tag :search, params[:search], placeholder: 'Search users' %>
          <%= submit_tag 'Search' %>
        <% end %>

        <!-- Display searched users -->
        <% if @searched_users.present? %>
          <h3>Searched Users</h3>
          <% @searched_users.each do |user| %>
            <%= user.email %>
            <%= link_to 'Add', group_user_groups_path(group_id: @group.id, user_id: user.id),
             method: :post, data: { turbo_method: :post } %>
          <% end %>
        <% end %>

        <!-- Display users in the group -->
        <h3>Group Users</h3>
        <% @group_users.each do |user| %>
          <%= user.email %>
          <%= link_to 'Remove', group_user_group_path(@group, user),
           data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }%>
        <% end %>
      </div>
    </div>
</div>
