<div class="text-center" style="height: 100vh; ">
  <div class="background"  style="height: 80vh">
  <% if @group.photo.attached? %>
    <div class="d-flex justify-content-start fa-xl group-image-banner" style="background-image: url('<%= cl_image_path @group.photo.key %>')">
      <%= link_to groups_path, class: "arrow-icon-icon" do %>
        <i class="fa-solid fa-arrow-left ms-3 mt-3" style="color: #9AA6B5;"></i>
      <% end %>
    </div>
    <% else %>
    <div class="d-flex justify-content-start fa-xl group-image-banner" style="background-image: url('<%= image_path "default.jpg" %>')">
      <%= link_to groups_path, class: "arrow-icon-icon" do %>
        <i class="fa-solid fa-arrow-left ms-3 mt-3" style="color: #9AA6B5;"></i>
      <% end %>
    </div>
    <% end %>
    <div class="d-flex justify-content-end fa-xl">
      <i class="fa-solid fa-ellipsis dropdown-toggle mt-4 me-3" id="navbarDropdown" data-bs-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false" style="color: #1e2248;"></i>
      <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
        <p><%= link_to "Edit group", edit_group_path, class: 'dropdown-item' %></p>
        <p><%= link_to "Delete group", group_path(@group.id),
        data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}, class: 'dropdown-item mt-4' %></p>
      </div>
    </div>
    <div>
    <div class="main-container mt-3">
      <div>
        <h3 class="bigh1"><%= @group.name %></h3>
        <h6 class="sml-header mb-3">Who's on <%= @group.name %> ? </h6>
        <div class="d-flex justify-content-center">
          <% @group.users.each do |user| %>
            <%= cl_image_tag user.profile.photo.key, width: 50, height: 50, crop: :fill, style:"border-radius: 50%" if user.profile.photo.present? %>
          <% end %>
        </div>

        <div class="mt-4 ">
          <%= form_tag(group_path(@group), method: :get) do %>
            <%= text_field_tag :search, params[:search], placeholder: 'Add', class: 'search-group-field mr-2' %>
            <button type="submit", id="search-button" style="color: #1e2248;">
            <label for="search-button" class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></label>
            </button>
          <% end %>
        </div>
        <!-- Display searched users -->
          <% if @searched_users.present? %>
            <% @searched_users.each do |user| %>
              <div class="user-container">
                <%= user.profile.full_name %>
                <%= link_to group_user_groups_path(group_id: @group.id, user_id: user.id), method: :post, data: { turbo_method: :post } do %>
                  <span class="add-icon"><i class="fa fa-user-plus" style="color: #0CAF7B;"></i></span>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
      <!-- Grey line divider -->
      <div class="events-divider"></div>
      <!-- Group's Events -->
        <h3 class='mb-4 ms-5 mt-4 title-h1 text-start'>Group's Events</h3>
      <!-- List of upcoming events -->
    <div class="mt-3">
      <div class="text-dark-purple gap-3 text-start ms-5">
        <% @group.events.first(4).each do |event| %>
          <div class="d-flex align-items-center">
            <i class="fa-solid fa-calendar home-body me-2" style="color: #1e2248"></i>
            <strong class="text-dark-purple me-2 "><%= event.name %></strong> <%= event.date.strftime('%a %dth %B') %>
          </div>
        <% end %>
      </div>
    </div>
        <!-- Chatrooms -->
    <div class="text-dark-purple gap-3 text-center mt-5">
      <i class="fa-solid fa-comments fa-lg me-2 mt-5" style="color: #1E2248;"></i>
      <%= link_to 'Chat with your group', chatroom_path(@chatroom), class: 'text-decoration-none home-body' %>
    </div>
  </div>
</div>
</div>
