
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon my-footer">
  <div class="d-flex justify-content-between w-100 px-4">
    <%= link_to "#" do %>
      <i class="fa-solid fa-comments fa-xl px-3" style="color: #1E2248;"></i>
    <% end %>
    <%= link_to "#" do %>
      <i class="fa-solid fa-heart fa-xl px-3" style="color: #1E2248;"></i>
    <% end %>
    <%= link_to dashboard_path do %>
      <i class="fa-solid fa-house fa-xl px-3 icon" style="color: #1E2248"></i>
    <% end %>
    <%= link_to events_path do %>
      <i class="fa-solid fa-calendar fa-xl px-3 icon" style="color: #1E2248;"></i>
    <% end %>
    <%= link_to my_profile_profiles_path do %>
      <i class="fa-solid fa-user fa-xl px-3 icon" style="color: #1E2248;"></i>
    <% end %>
  </div>
</div>
