  <%= simple_form_for(@event) do |f|%>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-font">
      <%= f.input :name, label: 'Name of your event', placeholder: 'Name of the event' %>
      <%= f.input :date, label: 'Pick a date & time', html5: true %>
      <%= f.association :restaurant, prompt: 'Your choice', label: 'Choose a restaurant' %>
      <%# <%= simple_fields_for :group_field do |n| %>
      <%# <%= n.input :selection, as: :radio_buttons, collection: [['0', 'With a group'], ['1', 'Solo']], label_method: :second, value_method: :second, label: 'Are you going out' %>
      <%# <% end %>
    </div>
  <div class="row justify-content-center">
    <div class= "btn btn-purple" >
      <%= f.button :submit %>
    </div>
  </div>
<% end %>
</div>
