<h1>My upcoming events</h1>

<% @events.each do |event| %>
  <div class="card-event">
    <div class="card-content">
      <%= image_tag 'dinner.png' %>
      <div class="card-event-infos">
        <h2><%= event.name %></h2>
        <p>
          <i class="fa-solid fa-calendar" style="color: #0caf7b;"></i>
          <%= event.date.strftime('%a %dth %B') %>
        </p>
        <p>
          <i class="fa-solid fa-calendar" style="color: #0caf7b;"></i>
          <%= event.date.strftime('%H:%M') %>
        </p>
        <p>
          <i class="fa-solid fa-location-dot fa-xs" style="color: #0caf7b;"></i>
          <strong><%= event.restaurant.name %></strong>
        </p>
      </div>
    </div>
    <%= link_to event_path(event), class: 'icon-link' do %>
      <i class="fa-solid fa-circle-chevron-right fa-lg" style="color: #07af7b;"></i>
    <% end %>
  </div>
<% end %>
