<div class="d-flex justify-content-start ms-3 fa-xl">
  <%= link_to root_path do %>
    <i class="fa-solid fa-arrow-left mt-3" style="color: #9AA6B5;"></i>
  <% end %>
</div>

<div class="image-cover">
  <%= image_tag 'dinner-rectangle.png' %>
</div>

<div class="d-flex justify-content-center">
  <div class="col-10 my-5">
    <h2 class="text-left mb-4"><%= @event.name %></h2>
      <p>
        <i class="fa-solid fa-location-dot fa-sm" style="color: #1E2248;"></i>
        <%= @event.restaurant.name %>
      </p>
      <p>
        <i class="fa-solid fa-calendar fa-sm" style="color: #1E2248;"></i>
        <%= @event.date.strftime('%a %dth %B') %>
        <i class="fa-solid fa-clock fa-sm" style="color: #1E2248; margin-left: 5px;"></i>
        <%= @event.date.strftime('%H:%M') %>
      </p>

      <h3>Location</h3>

      <div class="card-trip">
        <%= image_tag 'tacos.png' %>
        <div class="card-trip-infos">
          <div>
            <h2><%= @event.restaurant.name %></h2>
            <i class="fa-solid fa-chevron-right"></i>
          </div>
        </div>
      </div>
<h2>Restaurant selected</h2>
  <%# image_tag '@event.restaurant.image_url' %>
  <%# @event.restaurant.image_url %>
  <p><%= @event.restaurant.name %></p>
  <%# @event.restaurant.rating %>
<h2>Who's joining?</h2>
  <div class="event-details">
  <% if @event.groups.present? %>
    <p>Groups:
      <% @event.groups.each do |group| %>
        <%= link_to group.name, group_path(group) %>
      <% end %>
    </p>
  <% end %>

  <!-- Other event details and content -->
</div>


<%= form_tag(add_group_event_path(@event), method: :post) do %>
  <label>Add a Group to the Event:</label>
  <%= select_tag :group_id, options_from_collection_for_select(@groups, 'id', 'name'), include_blank: true %>
  <%= submit_tag 'Add Group' %>
<% end %>

  <%# put here the list of all user that were added to the group %>

      <h2>Who's joining?</h2>

        <%# delete the event %>
      <p>
      <i class="fa-solid fa-trash fa-sm style="color: #1E2248;></i>
      <%= link_to event_path(@event.id), data: { turbo_method: 'delete', turbo_confirm: 'Are you sure?' }, method: :delete do %>
        Delete
      <% end %>
      </p>

      <p>
      <i class="fa-solid fa-pen-to-square fa-sm" style="color: #1E2248;"></i>
      <%= link_to "Edit event", edit_event_path %>
      </p>
