<button><%= link_to "X", root_path %></button>

<h2><%= @event.name%></h2>
  <i class="fa-solid fa-calendar"></i>
  <p><%= @event.date.strftime('%a %dth %B - %Hh%M') %></p>


<h2>Restaurant selected</h2>
  <%# image_tag '@event.restaurant.image_url' %>
  <%# @event.restaurant.image_url %>
  <p><%= @event.restaurant.name %></p>
  <%# @event.restaurant.rating %>
<h2>Who's joining?</h2>
  <div class="event-details">
  <% if @event.groups.present? %>
    <p>Groups:
      <% @event.groups.each do |group| %>
        <%= link_to group.name, group_path(group) %>
      <% end %>
    </p>
  <% end %>

  <!-- Other event details and content -->
</div>


<%= form_tag(add_group_event_path(@event), method: :post) do %>
  <label>Add a Group to the Event:</label>
  <%= select_tag :group_id, options_from_collection_for_select(@groups, 'id', 'name'), include_blank: true %>
  <%= submit_tag 'Add Group' %>
<% end %>

  <%# put here the list of all user that were added to the group %>

  <%# delete the event %>
<%= link_to event_path(@event.id), data: { turbo_method: 'delete', turbo_confirm: 'Are you sure?' }, class: "btn", method: :delete do %>
  Delete
<% end %>

<button><%= link_to "Edit event", edit_event_path %></button>
