<!DOCTYPE html>
<html>
  <head>
    <title>FoodBuddy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="d-flex justify-content-center align-items-center text-center bg-image" style="height: 100vh;
      background-image: url('<%= asset_path('food.png') %>'); background-size: cover; background-position: center;">
      <%= render "shared/flashes" %>
      <%= yield %>
      <%#= render "layouts/footer" %>
      <%= render "layouts/navbar" unless current_page?(root_path) %>
    </div>
  </body>
</html>
